Repository Tenacom/AaaLib, changes with the labels that .github/labeler.yml gives for each.
All labels: area-aaalib, area:build, area:repo, area:ci, area:deps, area:docs

build: Setup Git auth when releasing from GitHub action
  build.cake
Labels: area:build

build: Improve logging of changelog check in Release target
  build.cake
Labels: area:build

build: Update build configuration data upon version advance to update the IsPrerelease flag.
  build.cake
Labels: area:build

build: Fix typo in log message
  build.cake
Labels: area:build

build: Log when skipping steps in Release target
  build.cake
Labels: area:build

build: Log when dispatching a workflow
  build/github.cake
Labels: area:build

build: Fix typo in identifier
  build.cake
Labels: area:build

build: Commit after advancing version in Release target
  build.cake
Labels: area:build

build: Fix two typos in build.cake
  build.cake
Labels: area:build

build: Fix wrong scope of variable in Release target
  build.cake
Labels: area:build

build: Fix typo in build.cake
  build.cake
Labels: area:build

build: Look for a tag before trying to delete it to avoid ApiValidationException
  build/github.cake
Labels: area:build

build: Refactor target SetupGitAuth
  build.cake
  build/git.cake
Labels: area:build

build: Fix two typos in git.cake [skip ci]
  build/git.cake
Labels: area:build

build: Add a comment explaining where the Git auth header comes from [skip ci]
  build/git.cake
Labels: area:build

build: Fix (hopefully) HTTP error 400 on Git push [skip ci]
  build.cake
Labels: area:build

build: Do not set Git authorization - trust actions/checkout to persist it [skip ci]
  .github/workflows/release.yml
  build.cake
  build/git.cake
Labels: area:build, area:ci

ci: Use GITHUB_TOKEN permissions instead of a PAT in release workflow
  .github/workflows/release.yml
Labels: area:ci

ci: Explicitly set token for actions/checkout
  .github/workflows/release.yml
Labels: area:ci

ci: Set GITHUB_TOKEN env variable for Cake script auth purposes [skip ci]
  .github/workflows/release.yml
Labels: area:ci

ci: Use personal token in Release workflow to circumvent branch protection [skip ci]
  .github/workflows/release.yml
Labels: area:ci

Prepare release 1.0.47
  CHANGELOG.md
  src/AaaLib/PublicAPI/net462/PublicAPI.Shipped.txt
  src/AaaLib/PublicAPI/net462/PublicAPI.Unshipped.txt
  src/AaaLib/PublicAPI/net47/PublicAPI.Shipped.txt
  src/AaaLib/PublicAPI/net47/PublicAPI.Unshipped.txt
  src/AaaLib/PublicAPI/net6.0/PublicAPI.Shipped.txt
  src/AaaLib/PublicAPI/net6.0/PublicAPI.Unshipped.txt
  src/AaaLib/PublicAPI/netcoreapp3.1/PublicAPI.Shipped.txt
  src/AaaLib/PublicAPI/netcoreapp3.1/PublicAPI.Unshipped.txt
  src/AaaLib/PublicAPI/netstandard2.0/PublicAPI.Shipped.txt
  src/AaaLib/PublicAPI/netstandard2.0/PublicAPI.Unshipped.txt
  src/AaaLib/PublicAPI/netstandard2.1/PublicAPI.Shipped.txt
  src/AaaLib/PublicAPI/netstandard2.1/PublicAPI.Unshipped.txt
  version.json
Labels: area-aaalib, area:docs

build: Fix incorrect body text and prerelease flag in created releases.
  build/github.cake
Labels: area:build

build: Fix docs update not triggered upon new release
  build.cake
Labels: area:build

docs: Update changelog [skip ci]
  CHANGELOG.md
Labels: area:docs

build: Do not trigger workflows on "Prepare release" push [skip ci]
  build.cake
Labels: area:build

Prepare release 1.0.52 [skip ci]
  CHANGELOG.md
Labels: area:docs

ci: Use Windows for workflows involving Pack - preparing to support setup creation
  .github/workflows/build-test-pack.yml
  .github/workflows/release.yml
Labels: area:ci

ci: Fix syntax for expression conditionals on runner.debug
  .github/workflows/build-test-pack.yml
  .github/workflows/release.yml
Labels: area:ci

ci: Use CAKE_VERBOSITY in all workflows where Cake is involved
  .github/workflows/codeql-analysis.yml
  .github/workflows/deploy-pages.yml
Labels: area:ci

ci: Improve conditional syntax: compare string with string
  .github/workflows/build-test-pack.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/deploy-pages.yml
  .github/workflows/release.yml
Labels: area:ci

ci: Do not use runner.debug in jobs.<job_id>.env
  .github/workflows/build-test-pack.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/deploy-pages.yml
  .github/workflows/release.yml
Labels: area:ci

ci: Remove leftover instances of runner.debug in env
  .github/workflows/build-test-pack.yml
  .github/workflows/codeql-analysis.yml
Labels: area:ci

docs: Update changelog [skip ci]
  CHANGELOG.md
Labels: area:docs

Prepare release 1.0.60 [skip ci]
  CHANGELOG.md
Labels: area:docs

repo: Remove settings.yml as we don't use the Settings app any longer.
  .github/settings.yml
Labels: area:repo

repo: Change title casing in release.yml
  .github/release.yml
Labels: area:repo

ci: Specify workflow permissions in label-pull-request.yml
  .github/workflows/label-pull-requests.yml
Labels: area:ci

.github/labeler.yml:

'area-aaalib':
  - "src/AaaLib/**/*"

'area:build':
  - "**/*.cake"
  - "build/**/*"

'area:repo':
  - "*.sln"
  - ".github/*.yml"
  - ".github/**/*.md"

'area:ci':
  - ".github/workflows/**/*"
  - "lgtm.yml"

'area:deps':
  - "**/Directory.Packages.props"
  - Directory.Build.props
  - Directory.Build.targets
  - "src/Buildvana.Sdk/Sdk/PackageVersions.props"

'area:docs':
  - "docs/**/*"
  - "**/CHANGELOG.md"
  - "**/LICENSE"
  - "**/NuGet-README.md"
  - "**/README.md"
  - "**/THIRD-PARTY-NOTICES"
