Repository Tenacom/AaaLib, changes with the labels that .github/labeler.yml gives for each.
All labels: area-aaalib, area-build, area-repo, area-ci, area-deps, area-docs

Clarify a comment in CI workflow
  .github/workflows/ci-cd.yml
Labels: area-ci

Add DCO Assistant Lite
  .github/workflows/dco.yml
Labels: area-ci

Do not use deployment secrets in a workflow that does not deploy.
  .github/workflows/ci-cd.yml
Labels: area-ci

Acknowledge that our workflow is really not CI, much less CD.
  .github/workflows/build-test-pack.yml
Labels: area-ci

Add issue and PR templates.
  .github/ISSUE_TEMPLATE/01_bug_report.yml
  .github/ISSUE_TEMPLATE/02_enhancement_proposal.yml
  .github/ISSUE_TEMPLATE/03_blank_issue.md
  .github/ISSUE_TEMPLATE/config.yml
  .github/PULL_REQUEST_TEMPLATE.md
Labels: area-repo

Add Codacy code scanning workflow
  .github/workflows/codacy.yml
Labels: area-ci

Simplify Codacy workflow and use an API token.
  .github/workflows/codacy.yml
Labels: area-ci

Do not use Codacy.
  .github/workflows/codacy.yml
Labels: area-ci

Add CodeQL analysis workflow.
  .github/workflows/codeql-analysis.yml
Labels: area-ci

Update badges in README.md
  README.md
Labels: area-docs

Use common files from .github repo
  .github/ISSUE_TEMPLATE/01_bug_report.yml
  .github/ISSUE_TEMPLATE/02_enhancement_proposal.yml
  .github/ISSUE_TEMPLATE/03_blank_issue.md
  .github/ISSUE_TEMPLATE/config.yml
  .github/PULL_REQUEST_TEMPLATE.md
Labels: area-repo

Do not require DCO from contributors
  .github/workflows/dco.yml
Labels: area-ci

Update labels
  .github/settings.yml
Labels: area-repo

Bump actions/setup-dotnet to v3.0.0
  .github/workflows/build-test-pack.yml
  .github/workflows/codeql-analysis.yml
Labels: area-ci

Use global.json as single source of truth for .NET SDK version
  .github/workflows/build-test-pack.yml
  .github/workflows/codeql-analysis.yml
Labels: area-ci

Add comment explaining Cron schedule to CodeQL analysis workflow
  .github/workflows/codeql-analysis.yml
Labels: area-ci

Use shortcut version v3 for setup-dotnet action
  .github/workflows/build-test-pack.yml
  .github/workflows/codeql-analysis.yml
Labels: area-ci

Update version.json so it uses the exact same format as when updated by NBGV
  version.json
Labels: none

Reset changelog
  CHANGELOG.md
Labels: area-docs

Completely refactor the Cake script.
  .github/workflows/build-test-pack.yml
  build.cake
  build/BuildData.cake
  build/changelog.cake
  build/dotnet.cake
  build/environment.cake
  build/fail.cake
  build/filesystem.cake
  build/git.cake
  build/github.cake
  build/json.cake
  build/nbgv.cake
  build/options.cake
  build/process.cake
  build/workspace.cake
Labels: area-build, area-ci

Add a Cake target that just builds, for the sake of CodeQL analysis
  build.cake
Labels: area-build

Review workflows, add release workflow.
  .github/release.yml
  .github/settings.yml
  .github/workflows/release.yml
  build.cake
  build/BuildData.cake
  build/THIRD-PARTY-NOTICES
  build/changelog.cake
  build/git.cake
  build/github.cake
  build/json.cake
  build/options.cake
  build/version.cake
Labels: area-build, area-repo, area-ci, area-docs

Make CODEOWNERS effective also for files not in the repo root.
  .github/CODEOWNERS
Labels: none

Use the All Contributors app.
  .all-contributorsrc
  .github/CODEOWNERS
  README.md
Labels: area-docs

Add missing environment variables to release workflow
  .github/workflows/release.yml
Labels: area-ci

Fix MyGet source URL in release workflow
  .github/workflows/release.yml
Labels: area-ci

Fix interpolated strings in github.cake
  build/github.cake
Labels: area-build

Use organization secret token to create releases
  .github/workflows/release.yml
Labels: area-ci

Force English output in NuGet push
  build/dotnet.cake
Labels: area-build

Push NuGet packages one by one (wildcards do not seem to work)
  build/dotnet.cake
Labels: area-build

Use Buildvana with a capital B as app name for GitHub API
  build/github.cake
Labels: area-build

Delete the release tag when deleting a release if possible
  build.cake
  build/github.cake
Labels: area-build

Handle exceptions in release publication
  build.cake
Labels: area-build

Use HTTP, not Octokit, to generate release notes
  build/github.cake
Labels: area-build

Fix interpolated strings in build.cake
  build.cake
Labels: area-build

Authenticate Git with personal token in release workflow
  .github/workflows/release.yml
Labels: area-ci

build: Split setup + teardown in their own file
  build.cake
  build/setup-teardown.cake
Labels: area-build

build: Use Octokit.NET 3.0.1 and remove workaround for fixed bug
  build/github.cake
Labels: area-build

build: Remove path filter in version.json
  version.json
Labels: none

docs: Fix name of SquareLogo graphic element in README
  graphics/README.md
Labels: area-docs

.github/labeler.yml:

area-aaalib:
  - "src/AaaLib/**/*.cs"

area-build:
  - "**/*.sln"
  - "**/*.csproj"
  - "**/*.props"
  - "**/*.targets"
  - "**/*.cake"

area-repo:
  - ".github/*.yml"
  - ".github/**/*.md"

area-ci:
  - ".github/workflows/**/*"
  - "lgtm.yml"

area-deps:
  - "**/Directory.Packages.props"
  - Directory.Build.props
  - Directory.Build.targets
  - "src/Buildvana.Sdk/Sdk/PackageVersions.props"

area-docs:
  - "docs/**/*"
  - "**/CHANGELOG.md"
  - "**/LICENSE"
  - "**/NuGet-README.md"
  - "**/README.md"
  - "**/THIRD-PARTY-NOTICES"
