Repository Tenacom/AaaLib, changes with the labels that .github/labeler.yml gives for each.
All labels: area-aaalib, area-build, area-repo, area-ci, area-deps, area-docs

docs: Adopt new, slightly modified Tenacom logo
  graphics/PackageIcon.png
  graphics/README.md
  graphics/Readme.png
  graphics/Readme.svg
  graphics/SocialCard.png
  graphics/SocialCard.svg
  graphics/SquareLogo.svg
Labels: area-docs

docs: Prepare graphics for web-based documentation
  graphics/README.md
  graphics/docs/favicon.ico
  graphics/docs/logo.svg
Labels: area-docs

build: Enable Cake script cache
  cake.config
Labels: none

chore: Add DocFx output directories to .gitignore
  .gitignore
Labels: none

ci: Set concurrency for release workflow
  .github/workflows/release.yml
Labels: area-ci

chore: Replace Tenacom proprietary logo
  graphics/PackageIcon.png
  graphics/README.md
  graphics/Readme.png
  graphics/Readme.svg
  graphics/SocialCard.png
  graphics/SocialCard.svg
  graphics/SquareLogo.svg
  graphics/docs/favicon.ico
  graphics/docs/logo.svg
Labels: area-docs

chore: Add publishing of docs to GitHub pages
  .github/workflows/deploy-pages.yml
  build.cake
  build/DocFx.cake
  build/github.cake
  docs.cake
Labels: area-build, area-ci

chore: Add publishing of docs to GitHub Pages
  .github/workflows/deploy-pages.yml
  build.cake
  build/DocFx.cake
  build/github.cake
  docs.cake
Labels: area-build, area-ci

deps: Bump Nerdbank.GitVersioning to 3.5.113
  Directory.Packages.props
Labels: area-build, area-deps

build: Make almost all methods extensions of ICakeContext
  build.cake
  build/BuildData.cake
  build/changelog.cake
  build/dotnet.cake
  build/filesystem.cake
  build/git.cake
  build/github.cake
  build/nbgv.cake
  build/options.cake
  build/process.cake
  build/setup-teardown.cake
  build/workspace.cake
  docs.cake
Labels: area-build

build: Fix reversed conditional
  build.cake
Labels: area-build

build: Use at most a single commit to prepare a release
  build.cake
Labels: area-build

build: Update shipped public API files upon release
  .github/workflows/release.yml
  build.cake
  build/public-api.cake
  build/version.cake
Labels: area-build, area-ci

chore: Fix DocFX section in .gitignore
  .gitignore
Labels: none

docs: Add project-specific contents to default pages
  docs/api/index.md
  docs/articles/intro.md
  docs/index.md
Labels: area-docs

chore: Fix DocFX section in .gitignore
  .gitignore
Labels: none

docs: Add project-specific contents to default pages
  docs/api/index.md
  docs/articles/intro.md
  docs/index.md
Labels: area-docs

build: Auto-generate metadata for DocFX
  .gitignore
  docs.cake
  docs/docfx.json
Labels: area-build, area-docs

docs: Use auto-generated metadata in footer
  docs/docfx.json
  docs/templates/tenacom/partials/footer.tmpl.partial
Labels: area-docs

docs: Use auto-generated metadata in navigation bar
  docs/templates/tenacom/layout/_master.tmpl
  docs/templates/tenacom/partials/logo.tmpl.partial
Labels: area-docs

docs: Enable some DocFX bells & whistles including search
  docs/docfx.json
Labels: area-docs

docs: Change capitalization of "API documentation" in TOC
  docs/toc.yml
Labels: area-docs

docs: Change capitalization of "API documentation" in TOC
  docs/toc.yml
Labels: area-docs

docs: Use auto-generated metadata in footer
  docs/docfx.json
  docs/templates/tenacom/partials/footer.tmpl.partial
Labels: area-docs

docs: Enable some DocFX bells & whistles including search
  docs/docfx.json
Labels: area-docs

docs: Use auto-generated metadata in navigation bar
  docs/templates/tenacom/layout/_master.tmpl
  docs/templates/tenacom/partials/logo.tmpl.partial
Labels: area-docs

build: Auto-generate metadata for DocFX
  .gitignore
  docs.cake
  docs/docfx.json
Labels: area-build, area-docs

.github/labeler.yml:

area-aaalib:
  - "src/AaaLib/**/*.cs"

area-build:
  - "**/*.sln"
  - "**/*.csproj"
  - "**/*.props"
  - "**/*.targets"
  - "**/*.cake"

area-repo:
  - ".github/*.yml"
  - ".github/**/*.md"

area-ci:
  - ".github/workflows/**/*"
  - "lgtm.yml"

area-deps:
  - "**/Directory.Packages.props"
  - Directory.Build.props
  - Directory.Build.targets
  - "src/Buildvana.Sdk/Sdk/PackageVersions.props"

area-docs:
  - "docs/**/*"
  - "**/CHANGELOG.md"
  - "**/LICENSE"
  - "**/NuGet-README.md"
  - "**/README.md"
  - "**/THIRD-PARTY-NOTICES"
